<h2>Data Science Tools and Ecosystem<h2>

In this notebook, Data Science Tools and  Ecosystem are summarized

**Objectives:**

Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>R</li>
<li>Julia</li>
<li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>NumPy</li>
<li>Matplotlib</li>
<li>Pandas</li>
<li>SciPy</li>
</ol>

|Data Science Tools|
--------------------
|Hadoop            |
|Spark             |
|Tensor Flow       |
|ggplot            |
|Jupyter Notebook  |

<h3>Below are a few examples of evaluating arithmetic expression in Python

In [1]:
#This is simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by divding by 60
from datetime import timedelta
print(timedelta(minutes=200)/timedelta(hours=1))

3.3333333333333335

**Objectives:**
<ul><li>List popular languages for Data Science</li>
    <li>Commonly used libraries used by Data Scientists</li>
    <li>Some Data Science Tools</li>
    <li>Simple arithmetic operation</li>
    <li>Conversion from minutes to hour</li>
</ul>

<h2>Author</h2>
Kalp Senghani